body {
  margin: 0;
}

#root > div {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

nav {
  flex: 0 0 auto;
  padding: 10px;
}

nav ~ * {
  flex: 1 0 0;
}

nav ~ ul#completed {
  flex: 0 0 auto;
}
